// Header Link
.navbar-brand {
  .brand {
    font-size: 2rem;

    @include mobile() {
      font-size: 1.5rem;
    }
  }
}

.navbar-burger span {
  background-color: $color-secondary;
}

.navbar-burger.is-active span {
  background-color: $color-primary;
}

.navbar-item {
  transition: 0.4s $ease-out-quart 0s;
}
