// Color
$color-primary: #2d2d2d;
$color-secondary: #e5e5e5;
$color-accent: #d84817;

$color-font-base: #363636;
$color-font-bg-black: $color-secondary;

// Size
$document-width: 1024px;
$document-width--small: 864px;
